/* src/app/globals.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #082f49; /* Sky 950 */
  --color-foreground: #f0f9ff; /* Sky 50 */

  --color-primary: #38bdf8;    /* Sky 400 */
  --color-primary-foreground: #082f49; /* Sky 950 */

  --color-card: rgba(12, 74, 110, 0.5); /* Sky 900 (半透明) */
  --color-border: rgba(56, 189, 248, 0.2); /* Sky 400 (低透明度) */

  --color-muted: #94a3b8; /* Slate 400 */
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.prose {
  --tw-prose-body: var(--color-foreground);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-muted);
  --tw-prose-links: var(--color-primary);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-muted);
  --tw-prose-bullets: var(--color-muted);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-foreground);
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: var(--color-muted);
  --tw-prose-code: var(--color-primary);
  --tw-prose-pre-code: var(--color-foreground);
  --tw-prose-pre-bg: var(--color-card);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
}
